<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sirrene.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Sirrene.Properties.Settings>
            <setting name="IsLogin" serializeAs="String">
                <value>always</value>
            </setting>
            <setting name="LoginMethod" serializeAs="String">
                <value>login</value>
            </setting>
            <setting name="IsAllCookie" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveDir" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveFolder" serializeAs="String">
                <value>rec</value>
            </setting>
            <setting name="SaveFile" serializeAs="String">
                <value>%id%%TITLE%</value>
            </setting>
            <setting name="QualityType" serializeAs="String">
                <value>normal</value>
            </setting>
            <setting name="UseExternal" serializeAs="String">
                <value>native</value>
            </setting>
            <setting name="ExecFile" serializeAs="String">
                <value>ffmpeg.exe;ffmpeg.exe</value>
            </setting>
            <setting name="ExecCommand" serializeAs="String">
                <value>%HEADERS% -i "%PARA%" -c copy "%FILE%";%HEADERS% -i "%PARA%" -c copy "%FILE%"</value>
            </setting>
            <setting name="BreakCommand" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="IsLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsComment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsVideo" serializeAs="String">
                <value>True</value>
            </setting>
        </Sirrene.Properties.Settings>
    </userSettings>
</configuration>